//----------------------------------------------
// Rich Text & Logo Grid Block Shared CSS
//----------------------------------------------
@import "../../theme/functions";
@import "../../theme/theme_variables";

// @import "../../assets/bootstrap5";
@import "../../assets/bootstrap5/functions";
@import "../../assets/bootstrap5/variables";
@import "../../assets/bootstrap5/maps";
@import "../../assets/bootstrap5/mixins";

@mixin cdb-richtext-logo-grid {
	.cdb-richtext_logo_grid {
		.content-container {
			display: grid;
			gap: 2rem;

			/*@media (min-width: 992px)*/
			@include media-breakpoint-up(lg) {
				grid-template-columns: 6fr 6fr;
				gap: px-to-rem(100px);
			}

			@include media-breakpoint-up(xl) {
				grid-template-columns: 6fr 7fr;
				gap: px-to-rem(100px);
			}

		}
		
		.small-grid-container {
			// override columns
			@include media-breakpoint-only(lg) {
				--theme-grid-columns: 2 !important;
			}
			@include media-breakpoint-only(xs) {
				--theme-grid-columns: 2 !important;
			}

		}
		
		.grid-item {
			a {
				position: absolute;
				display: block;
				top: 0;
				width: 100%;
				height: 100%;

				&::before {
					display: none;
				}
			}
		}
	}
}