:root {
    --primary: #F56A1A;
    --primaryDarker: #fa6108;
    --dark: #25282B;
    --darkLighter: #3a3c3f;
    --gray: #CCCCCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif; */
    font-family: 'Public Sans', sans-serif;
    transition: 0.2s;
}

body {
    background-color: #F5F7FB;
    color: var(--dark);
    line-height: 1.5;
}
.sidebar{
    max-width: 1400px;
    border: 1px solid #dddddd;
    margin: auto;
    padding: 35px 0px 15px 40px;
    background-color: white;
}

.container {
    border: 1px solid #dddddd;
    padding: 20px;
    background-color: #F5F7FB;
    max-width: inherit !important;
}

a {
    text-decoration: none;
    color: var(--dark);
}
a:hover {
    color: var(--darkLighter);
}

@media (max-width: 900px) {
    .container{
        padding: 12px;
    }
    .sidebar{
        padding: 0;
    }
}