/* Starter */
div {
    box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.m_0{
    margin: 0;
}
.m_5{
    margin: 5px;
}
.mt_5{
    margin-top: 5px;
}
.mt_20{
    margin-top: 20px;
}
.mt_25{
    margin-top: 25px;
}
.ml_10{
    margin-left: 10px;
}
.mr_10{
    margin-right: 10px;
}
.ml_5{
    margin-left: 5px;
}
.mr_5{
    margin-right: 5px;
}
.mb_20{
    margin-bottom: 20px;
}
.p_10{
    padding: 10px;
}
.p_20{
    padding: 20px;
}
.pt_5{
    padding-top: 5px;
}
.pt_10{
    padding-top: 10px;
}
.pt_20{
    padding-top: 20px;
}
.pl_20{
    padding-left: 20px;
}
.pb_20{
    padding-bottom: 20px;
}
.pv_20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.p_10_15{
    padding: 10px 15px;
}
.p_10_20{
    padding: 10px 20px;
}
.p_15_20{
    padding: 15px 20px;
}
.p_h_20{
    padding-left: 20px;
    padding-right: 20px;
}
.mv_10{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.mv_20{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.w_20{
    width: 20%;
}
.w_30{
    width: 30%;
}
.w_50{
    width: 50%;
}
.w_70{
    width: 70%;
}
.w_full{
    width: 100%;
}
.relative{
    position: relative;
}
.flex{
    display: flex;
}
.flex_col{
    display: flex;
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.center{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.align_center{
    align-items: center;
}
.justify_center{
    justify-content: center;
}
.gap_0{
    gap:0 !important;
}
.gap_5{
    gap: 5px;
}
.gap_10{
    gap: 10px;
}
.gap_15{
    gap: 15px;
}
.gap_20{
    gap: 20px;
}

/* font Size */
.f-14px{
    font-size: 14px;
}

.opacity_0{
    opacity: 0;
}
.bold{
    font-weight: 700;
}
.red{
    color: #D23535;
}
.sold{
    padding: 20px;
    background-color: #F8AD25;
    border-radius: 10px;
}

/* responsiveness */
@media (max-width: 767px){
    .m_f_24px{
        font-size: 24px !important;
    }
    .m_f_15px{
        font-size: 15px !important;
        line-height: 1.5;
    }
    .flex_col_m{
        flex-direction: column;
    }
    .flex_col_rev_m{
        flex-direction: column-reverse;
    }
    .m_w_full{
        width: -webkit-fill-available !important;
    }
    .m_align_left{
        text-align: left;
    }
}

/* End Starter */
body {
    font-family: "Montserrat", sans-serif;
}
h2 {
    font-size: 42px;
    font-weight: 700;
    color: #008751;
}
h3 {
    font-size: 26px;
    font-weight: 700;
    color: #008751;
}
p{
    font-size: 18px;
}
.p_big{
    font-size: 20px;
}
.green {
    color: #008751;
}
.logo{
    width: 150px;
}
.copyDownload{
    border-radius: 10px;
    background-color: #008751;
    color: white;
    gap: 16px;
    padding: 12px;
    height: fit-content;
    font-size: 15px;
}
.copyDownload span{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.copyDownload img{
    width: auto;
    height: 18px;
}
#section1{
    align-items: center;
    padding: 20px 0px;
}
#section2{
    padding-bottom: 15px;
}
#section2 .makeLogo{
    width: 90px;
    height: 90px;
}
#section3{
    padding: 20px 25px;
}
.vehicleUseList {
    margin-left: -25px;
}
.vehicleUseList span:not(:last-child){
    border-right: solid 1px #8D8D8D;
}
.vehicleUseList .active{
    font-weight: 700;
    color: #008751;
}
.box{
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
}
.grid{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    display: grid;
    gap: 10px;
}
.divider{
    height: 1px;
    width: 100%;
    background-color: #DCDCDC;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
#section4 .col, #section5 .col2, #section6 .col2{
    width: 50%;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 30px;
}
#section4 .col1{
    border-right: 1px solid #DCDCDC;
    padding-right: 20px;
}
#section4 .col2{
    padding-left: 20px;
}
#section5{
    padding: 25px 0px;
}
.carImage{
    border: 5px solid white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
}
.tableStyle1{
    border-spacing: 0 10px;
}
.tableStyle1 td{
    width: 50%;
}
.tableStyle1 tr td:last-child{
    font-weight: 700;
}
.tableStyle1 tr{
    margin-bottom: 5px;
}
.dataContainer{
    padding: 20px 20px 20px 0px;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}
.dataContainer2{
    padding: 20px 0px 20px 20px;
    border-top: 1px solid #DCDCDC;
}
.greenContainer{
    background-color: #008751;
    border-radius: 10px;
    color: white;
}

.tableStyle2{
    width: 100%;
    border-collapse: collapse;
    border: solid 1px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tableStyle2 th {
    background-color: white;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

/* Table body */
.tableStyle2 td {
    border: 1px solid #DCDCDC;
    padding: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

/* Even rows (gray background) */
.tableStyle2 tr:nth-child(even) {
    background-color: #F9F9F9;
}

/* Odd rows (white background) */
.tableStyle2 tr:nth-child(odd) {
    background-color: white;
}
.noData{
    padding: 10px 20px;
}

.footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.footer p{
    font-size: 16px;
}

@media (max-width: 767px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}