body, p{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, .heading{
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
}
div{
    box-sizing: border-box;
}
button{
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    transition: all 0.2s;
    cursor: pointer;
}
button.transparent{
    background: transparent;
    border: 1px solid #004EA2;
    color: #004EA2;
}
button.transparent_noBorder{
    background: transparent;
    border: none;
    color: #004EA2;
}
button.transparent:hover{
    background: #1572d4;
    color: white;
    border: 1px solid #1572d4;
}
button.blue{
    background: #004EA2;
    border: 1px solid #004EA2;
    color: white;
}
button.blue:hover{
    background: #1572d4;
    border: 1px solid #1572d4;
    color: white;
}
button.full{
    width: 100%;
}
button.withIcon{
    display: flex;
    align-items: center;
    gap: 7px;
}
button.transparent:hover .btnIcon{
    filter: brightness(10);
}
img{
    width: 100%;
}
.border-left-md{
    border-left: solid 1px #D1D1D1;
}
.topBar{
    padding: 14px;
    font-size: 24px;
    border-bottom: 1px solid #D1D1D1;
}
.content{
    display: flex;
}
.data{
    width: 65%;
}
.row_1{
    display: flex;
    padding: 15px 0px;
}
.row_1 .vehicle{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    padding: 0px 15px;
}
.row_1 .vehicleIntro{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.row_1 .vehicleIntro img{
    width: 100%;
    max-width: 65px;
}
.row_1 .vehicleIntro span{
    width: 100%;
    font-weight: 700;
    font-size: 24px;
}
.row_1 .addToGarage{
    display: flex;
    gap: 10px;
    align-items: center;
}
.row_1 .alert{
    width: 27px;
    height: 27px;
}
.row_1 .vehicleSpesification{
    width: 200%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 15px;
}
.row_1 .spesification{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.row_1 .specData{
    width: calc(50% - 6px);
    display: flex;
    gap: 10px;
    font-size: 16px;
}
.row_1 .lessMore{
    font-size: 18px;
    text-decoration: underline;
    color: #1B4582;
    cursor: pointer;
}
.row_2{
    display: flex;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    padding: 20px 0px;

}
.row_2 .checks{
    width: 100%;
    padding: 0px 15px;
}
.row_2 .checksContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.row_2 .checksHeading{
    margin-bottom: 15px;
    display: block;
}
.row_2 .checkData{
    background-color: #E7E7E7;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 400px;
    width: 100%;
}
.row_2 .checkData .col1{
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.row_2 .checkDataHeading{
    font-size: 17px;
    font-weight: 700;
}
.row_2 .checkDataDesc{
    font-size: 17px;
    font-weight: 700;
    color: #BC1B1D;
}
.row_2 .checkData .redAlert, .row_2 .checkData .col2{
    display: flex;
    gap: 8px;
    align-items: center;
}
.row_2 .unlock{
    color: #1B4582;
    text-decoration: underline;
}
.row_2 .redAlertIcon{
    width: 24px;
    height: 24px;
}
.row_2 .key{
    width: 20px;
    height: 20px;
}
.row_2 .auction{
    width: 200%;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.row_2 .redBox{
    display: flex;
    background-color: #FFEEEE;
    border-radius: 8px;
    border: 1px solid #FF4D50;
    padding: 8px;
    gap: 10px;
    align-items: center;
}
.row_2 .redBox p{
    margin: 0;
    font-size: 17px;
}
.row_2 .auctionData{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.row_2 .auctionvalue{
    width: calc(50% - 7.5px);
}
.checkout{
    width: 35%;
    background: #EBF0FD;
}
.row_3 .dataContainer{
    display: none;
    gap: 10px;
}
.row_3 .dataContainer.active{
    display: flex;
    flex-direction: column;
}
.row_3 .alert{
    width: 20px;
    height: 20px;
}
.row_3 .title{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 120px;
}
.row_3 .row{
    display: flex;
    gap: 15px;
}
.row_3 .progress-bar{
    width: 100%;
    height: 35px;
    background: white;
    box-shadow: 0px 0px 8px 0px #82828252;
    border-radius: 8px;
    max-width: 600px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.row_3 .progress{
    background: linear-gradient(168.35deg, #283968 0%, #003D78 49.2%, #0D1E44 99.43%);
    height: 100%;
}
.row_3 .value{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #003D78;
    font-weight: 700;
}
.row_4 .grid-container{
    display: grid;
    gap: 10px;
}
.row_4 .grid-item {
    /* background-color: #f0f0f0; */
    padding: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
}
/* Desktop layout: 4 columns */
@media (min-width: 768px) {
    .row_4 .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Mobile layout: 2 columns */
@media (max-width: 767px) {
    .row_4 .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
.row_5 .listing {
    display: flex;
}
.row_5 .col {
    width: 100%;
}
.row_5 .listingImg {
    border-radius: 8px;
    border: 3px solid;
}
.row_5 .listing1 .listingImg {
    border-color: #00B57A;
}
.row_5 .listing2 .listingImg {
    border-color: #BC1B1D;
}
.row_5 .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.row_6{
    display: flex;
}
.row_6 .col{
    width: 50%;
}
.row_6 .listItem{
    display: flex;
    gap: 10px;
    align-items: center;
}
.row_6 .transparent_noBorder{
    padding-left: 0;
}
.row_6 .image img{
    border-radius: 8px;
    box-shadow: 0px 0px 8px 2px #0000004D inset;
}
.row_8 .specContainer{
    display: flex;
    border-bottom: 1px solid #D1D1D1;
}
.row_8 .spesificationHeader{
    display: flex;
    align-items: center;
}
.row_8 .hiddenHeader{
    visibility: hidden;
}
.row_8 .spesificationIcon{
    width: 25px;
}
.row_8 .spesificationTitle{
    font-size: 18px;
}
.row_8 .spesificationData{
    display: flex;
}
.row_8 .col{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.row_8 .tableContainer{
    height: 100%;
}
.row_8 table{
    width: 100%;
    border-collapse: collapse;
}
.row_8 td{
    width: 50%;
}
.row_8 .value{
    font-weight: 700;
}
.row_9 .images{
    display: flex;
    gap: 20px;
}
.row_9 img{
    width: 60px;
}
.row_10{
    padding: 20px 14px;
    text-align: center;
    border-top: 1px solid #D1D1D1;
}
/* colors, other, and fonts */
.error{
    color: #BC1B1D;
}
.success{
    color: #00B57A;
}
.heading{
    font-size: 20px;
    font-weight: 700;
}
.bold{
    font-weight: 700;
}
.btnIcon{
    width: 20px;
    height: 20px;
    transition: all 0.2s;
}
.checkIcon {
    width: 20px;
}
.tabList{
    display: flex;
    gap: 10px;
}
.tab{
    color: #847EA0;
    font-size: 17px;
    background: transparent;
    border-radius: 8px;
    padding: 10px 13px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #0095ff00;
}
.tab:hover {
    border: 1px solid #1151804a;
}
.tab.active{
    background: linear-gradient(168.35deg, #0093FF 0%, #014D96 49.2%, #000F25 99.43%);
    color: white;
    font-size: 17px;
}
.tab.active:hover {
    border: 1px solid #000000;
}
.hidden{
    visibility: hidden !important;
}
.none{
    display: none !important;
}
@media (max-width: 991px) {
    .topBar{
        font-size: 18px;
    }
    .data{
        width: 100%;
    }
    .row_1{
        flex-direction: column;
    }
    .row_1 .vehicle{
        flex-direction: row;
    }
    .row_1 .vehicleIntro{
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
    }
    .row_1 .vehicleIntro span{
        font-size: 18px;
    }
    .row_1 .spesification{
        flex-direction: column;
        gap: 8px;
    }
    .row_1 .specData{
        width: 100%;
        gap: 8px;
    }
    .row_1 .vehicleSpesification{
        width: 100%;
    }
    .row_2{
        flex-direction: column-reverse;
    }
    .row_2 .auction{
        width: 100%;
    }
    .row_2 .auctionvalue{
        width: 100%;
    }
    .border-left-md{
        border-left: none;
    }
    .row_8 .hiddenHeader{
        display: none;
    }
    .row_8 .col{
        width: 100%;
    }
    .row_8 .specContainer{
        flex-direction: column;
    }
    .row_8 .specContainer .col:nth-of-type(2) .spesificationHeader{
        border-top: solid 1px #D1D1D1;
    }
    .none-sm{
        display: none !important;
    }
    .content{
        flex-direction: column;
    }
    .data, .checkout{
        width: 100%;
    }
}



/* checkout */
/* .packageOption{
    display: flex;
    gap: 8px;
} */
.packageOption {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr); 
}
.credit{
    border: 1px solid #252525;
    background: white;
    border-radius: 8px;
    transition: all 0.1s;
}
/* Change background when the radio button inside .credit is checked */
label:has(input[type="radio"]:checked) .credit {
    background-image: url('asset/activeCredit.jpg'); /* Background image when checked */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    border: 2px solid #1B4582;
}
.saving{
    display: flex;
    gap: 8px;
    align-items: center;
}
.saveTag{
    border-radius: 8px;
    padding: 5px;
    background-color: #00B57A;
    color: white;
}
.saveCost{
    color: #BC1B1D;
    font-weight: 700;
}
.getCopy{
    display: flex;
}
.couponContainer{
    display: flex;
}
.invoice{
    border-top: 1px solid #D1D1D1;
}
.invoiceValue{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.reportFormat{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D1D1D1;
}
.reportFormat img{
    width: auto;
    height: 53px;
}